/* Our Stylesheet */
@import '../vendor/mrmrs-colors/less/colors';

body {
  color: @white;
  background-color: @black;
}

.summoner-main {
  text-align: center;
}

.reddit {
  ul {
    padding: 0 0 0 15px;
  }
}